@charset "UTF-8";

*{
/*Box model stuff*/
margin: 0;
padding:0;
/*Typography stuff*/
font-size: 1em;
}
html, body{
  min-height: 100vh; 
}

@font-face {
  font-family: 'Passion One';
  src: url(/font/Passion_One/PassionOne-Regular.ttf) format(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
/*Miscellaneous*/
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: 'Passion One', cursive;
  --fonte3: 'Sriracha', cursive;
}

header{
/*Box model stuff*/
  background-color: black;
/*Typography stuff*/
  text-align: center;
  color: white;
}
header h1{
/*Box model stuff*/
  padding-top: 50px;
/*Typography stuff*/
  font-family: var(--fonte2);
  font-size: 10vw;
  font-size: 80px;
  font-variant:small-caps;
}
header a:hover, footer a:hover{
  /*Typography stuff*/
  text-decoration: underline;
}
header p{
  /*Box model stuff*/
  padding-bottom: 50px;
  /*Typography stuff*/
  font-family: var(--fonte1);
}

a{
/*Typography stuff*/
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

section{
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px
}

section.normal {
  background-color: white;
  color: black;
}
section.imagem{
  background-color: rgb(51, 51, 51);
  color: white;
}
section.imagem > p{
  background-color: #00000028;
  width: 400px;
}

footer{
/*Box model stuff*/
  padding: 15px;
  background-color: black;
/*Typography stuff*/
  font-family: var(--fonte1);
  font-size: medium;
  text-align: center;
  color: white;
}